<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>admin page</title>
    <link rel="stylesheet" href="../wayfarer.css">
</head>
<body>
        <div style=""class="navbar">
                <a class=" "href="home.html">Home</a>
                <a href="trip.html">View trip</a>
                <a href="bookseat.html">Book a seat</a>
                <a href="login.html">login</a>
                <a href="admin.html">Admin</a>
              </div>
    <div>
        <h1>Admin Page</h1>
    </div>
    <div class="sidebar">
        <a class="" href="#home">Create a trip</a>
        <a href="#news">cancel trip</a>
        <a href="#contact">view trip</a>
        <a href="#about">users booking</a>
      </div>
      
    <h2>WELCOME TO THE ADMIN PAGE</h2>
      <div class="content">
        
      </div>
</body>
</html>
