<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../wayfarer.css">
</head>
    <title>BookSeat</title>
</head>
<body>
  <div class="book">
  <a href="index.html">Back home</a>
</div>
        <form style="padding-top: 30px;"action="/action_page.php">
            <label for="fname">Names</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
          
            <label for="lname">email</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          
            <label for="country">Choose a trip</label>
            <select id="country" name="country">
              <option value="australia">kigali</option>
              <option value="canada">gisenyi</option>
              <option value="usa">USA</option>
            </select>
          
            <input type="submit" value="Book a seat">
          </form>
</body>
</html>