<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
    <link rel="stylesheet" href="../wayfarer.css">
</head>
<body style="background-size: cover;
background-repeat: no-repeat;font-family: 'Acme', sans-serif;

height:100%;background-image:url('https://france3-regions.francetvinfo.fr/occitanie/sites/regions_france3/files/styles/top_big/public/assets/images/2017/12/13/maxnewsworldfour282485-3410247.jpg?itok=64uX8ikT')" >
<div class="navbar">
    <a class=" "href="home.html">Home</a>
    <a href="trip.html">View trip</a>
    <a href="bookseat.html">Book a seat</a>
    <a href="login.html">login</a>
    <a href="admin.html">Admin</a>
  </div>
 <div style=""class="container4">


        
        <div class="center"><h3 style="color:palevioletred">WAY FARER</h3></div>
        <h6 class="center"><marquee  style="font-weight:80%;color:palevioletred">BOOK YOUR TRIP WITH US!!!</marquee></h4>

    </div>
   
    </section>
<footer>

</footer>
</body>
</html>