<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../wayfarer.css">
    <title>Way Farer</title>
</head>
<body style="background-color: bisque">
    <div style=""class="navbar">
        <a class=" "href="home.html">Home</a>
        <a href="trip.html">View trip</a>
        <a href="bookseat.html">Book a seat</a>
        <a href="login.html">login</a>
        <a href="admin.html">Admin</a>
      </div>
    <h1>WELCOME TO WAY FARER</h1>
    
    <form action="action_page.php">
        <div class="container2">
            <h2>Sign Up</h2>
            

    <label for="name"><b>Names</b></label>
    <input type="text" placeholder="Enter your names" name="name" required>
    

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
    

    <label for="pwd"><b>Password</b></label>
    <input type="password" placeholder="Enter your password" name="pwd" required>
    <input type="checkbox" onclick="myFunction()">Show Password
    <br>

    <label for="pwd1"><b>Repeat your password</b></label>
    <input type="password" placeholder="Repeat Password" name="pwd1" required>
    <input type="checkbox" onclick="myFunction()">Show Password
    <div class="clearfix">
        <button type="button" onclick="" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
        </div>
    </form>
</body>
</html>